# MANIFEST template file to make a distribution tarball

# Package stuff
include ANNOUNCEMENT-5.0.1 CHANGES-5.0.1 COPYING*
include MANIFEST.in GNUmakefile pyqwt-5.0.patch

# Documentation
graft Doc
recursive-exclude Doc *cvsignore* *~ doc htdoc htdoc/* WARNINGS

# PyQwt python code for PyQt/Qt3
graft qt3lib
recursive-exclude qt3lib *cvsignore* *~

# PyQwt python code for PyQt4/Qt4
graft qt4lib
recursive-exclude qt4lib *cvsignore* *~

# configure
include configure/configure.py
include configure/PyQwt.nsi.in

# Qt3 examples
graft qt3examples
recursive-exclude qt3examples *.html *.png *.pyc *cvsignore* *~ typescript

# Qt4 examples
graft qt4examples
recursive-exclude qt4examples *.html *.png *.pyc *cvsignore* *~ typescript

# support code
graft support
recursive-exclude suppport *cvsignore* *~

# qwt-svn
graft qwt-5.0
recursive-exclude qwt-5.0 *~

# sip files
graft sip
recursive-exclude sip *cvsignore* *~

# Local Variables: ***
# mode: sh ***
# End: ***
