# MANIFEST template file to make a distribution tarball

# package stuff
include ANNOUNCEMENT-5.2.0 COPYING*
include MANIFEST.in GNUmakefile pyqwt-5.2.patch

# configure
include configure/configure.py
include configure/PyQwt.nsi.in
include configure/configqt.bat

# fixed Qwt-5.2.0 headers
graft include-5.2.0
recursive-exclude include-5.2.0 .cvsignore *~

# PyQwt python code for PyQt/Qt3
graft qt3lib
recursive-exclude qt3lib .cvsignore *~

# PyQwt python code for PyQt4/Qt4
graft qt4lib
recursive-exclude qt4lib .cvsignore *~

# Qt3 examples
graft qt3examples
recursive-exclude qt3examples *.html *.png *.pyc *.svg .cvsignore *~ typescript

# Qt4 examples
graft qt4examples
recursive-exclude qt4examples *.html *.png *.pyc *.svg .cvsignore *~ typescript

# support code
graft support
recursive-exclude suppport .cvsignore *~

# qwt-svn
graft qwt-5.2
recursive-exclude qwt-5.2 *~

# sip files
graft sip
recursive-exclude sip .cvsignore *~

# tests
include tests/test_*.py

# Documentation
graft sphinx
recursive-exclude sphinx static *.doctree *.pickle .cvsignore *~

# Local Variables: ***
# mode: sh ***
# End: ***
