>>> from numpy import *                                           #  1
>>> x = arange(0.0, 10.0, 3.0)                                    #  2
>>> y = sin(x)                                                    #  3
>>> x                                                             #  4
array([ 0.,  3.,  6.,  9.])                                       #  5
>>> y                                                             #  6
array([ 0.        ,  0.14112001, -0.2794155 ,  0.41211849])       #  7
>>> sqrt(x*x)                                                     #  8
array([ 0.,  3.,  6.,  9.])                                       #  9
>>> x*x                                                           # 10
array([  0.,   9.,  36.,  81.])                                   # 11
